{{!
    @template filter_embeddiscussion/cannotbeembeddedhere

    Placeholder shown when embedding is attempted outside supported locations.

    Example context (json): {}
}}
<div class="alert alert-warning" data-region="filter-embeddiscussion-unsupported">
    {{#str}}cannotbeembeddedhere, filter_embeddiscussion{{/str}}
</div>
